*{
    border: 0px ; 
    margin: 0px; 
    box-sizing: border-box;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar{
    display: none;
}
.navbar{
    height: 90px ; 
    width: 100%;
    border: 5px;
    border-color: rgb(241,242,244);
    border-style: solid;
    position: relative;
    
    
    
}
.basicmenu{
    height: 150px ; 
    width: 100%;
    border: 10px;
    border-color: rgb(241,242,244);
    border-style: solid;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}


.slider{
    height: 40vh ; 
    width: 100%;
    border: 10px;
    border-color: rgb(241,242,244);
    border-style: solid;
    position: relative;
}

.items{
    height: 1500px ; 
    width: 100%;
    border: 10px;
    border-color: rgb(241,242,244);
    border-style: solid;
    position: relative;
}
.footer{
    height: 400px ; 
    width: 100%;
    background-color: rgb(33,33,33);
    border-style: solid;
    position: relative;
}
.navbar-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: absolute;
    width: 100%;
    height: 100%;
}
.navbar-searchbar{
    display: flex;
    
    width: 800px;
    height: 40px;
    
    
}
.searchimg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 30px;
    background-color: rgb(240,245,255);
    

    
}
.searchicon{
    
    height:30px;
    width: 30px;
}
.navbaricon{
    height:30px;
    width: 30px;
}
.navbar-login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-left: 20px;
}
.navbar-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.navbar-seller{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.navbar-link{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
.navbarsearch{
    height: 40px;
    background-color: rgb(240,245,255);
    width: 760px;
}
/* .navbar-flipkartlogo{
    width: 100px;
    position: relative;
    height: 80px;
}
.FlipkartLogo{
    position: absolute;
    width: 100%;
    height: 100%;
} */
.navbar-tripledotmenu{
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.basic-menu-list{
    list-style: none;
    display: flex ;
    align-items: center;
    justify-content: center;
    gap:20px;
    position: absolute;
    

}
.basic-menu-list-element{
    margin: 20px 0px  0px 0px;
}
.basic-menu-list-img{
    height: 70px;
    width: 70px;
   
}
.basic-menu-list-link{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
/* .basic-menu-list-name{
     margin-left: 0px; 
}*/
.basic-menu-list-element-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    margin: 0px 30px 0px 30px;
}
.basic-menu-link-divimg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
    font-family:sans-serif;
    padding-left: 40px;
    padding-top: 24px;
    font-weight:bold;
   
}

.pricing-container{
    
    display:grid;
     grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr; 
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height:70px;
    gap: 1.5rem;
    margin-top: 30px;
    max-width: 1500px;
    margin-left: 30px;
    



  }
  .pricing-plan{
    flex:1;
    border: 2px solid rgb(240, 238, 235);
    border-radius: 3px;
    text-align: center;
    text-wrap: wrap;
    padding: 10px;
    min-height:300px;
    max-width: 250px;
  }
  
  .plan-title{
   text-decoration: none;
     color:black;
    margin-top: 45px;
    text-align: center;
    font-size: medium;
    font-weight:600;
    margin-bottom: 10px;
      }
  .plan-price{
    text-align: center;
    font-weight: bold;
    font-size: larger;
    font-family: sans-serif;
    margin-bottom: 20px;
  }
  .button{
    border: 2px solid rgb(250, 186, 11); 
    border-radius:3px ;
    background-color:rgb(250, 186, 11) ;
    margin:2px;
    text-align: center;
    padding-top:15px;
     color:white;
     font-weight: 600;
     }
     #mybutton:hover{
        
        box-shadow:2px 2px 2px 2px  rgb(238, 237, 237);

     }

  .pricing-container {
    flex-direction: column; 
    width: 200%;
    height: 30%;  
  }
    
  .items-row{
    margin-top: 10px;
  }
 
  


    


 
  
    
  /* .card-row{
    position: absolute;
    width: 100%;
  } */
  #text{
    border:none;
    width:300px;
    height:20px;
    background-color: antiquewhite;  }

  .slider-img{
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .swiper {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .swiper-button-prev , .swiper-button-next{
    --swiper-navigation-color: white;
    
    --swiper-navigation-size: 44px;
    --swiper-navigation-top-offset: 50%;
    --swiper-navigation-sides-offset: 10px;
    
  }
  .items-row{
    position: absolute;
    width: 100%;
  }
  .footer-div{
    
    position: absolute;
    width: 100%; 
    height: 100%;
    
    

  }
  .footer-breakline{
    height: 2px;
    color: #f1f2f4;
  }
  .footer-up{
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: center;
    align-items: center;
    gap: 20px;
   
  }
  .footer-up-column-1-row{
    width: 196px;
    height: 171px;
  }
  .footer-up-column-2-row{
    width: 287px;
    height: 171px;
  }
  #footer-breakline{
    padding-left:35px ;
    border-left: 0.5px solid #f1f2f4 ;
  }
  .footer-up-list{
    list-style: none;
    color: white;
    padding: 0;
    font-size: 0.8rem;
  }
  .footer-up-list-element:hover{
    text-decoration: underline;
  }
  .footer-down-content{
    color: white;
    font-size: 0.8rem;
    
  }
  .telelink{
    text-decoration: none;
  }
  /* .footer-up-column-1{
    display: flex;
    gap: 20px;
    
  }
  .footer-up-column-2{
    display: flex;
    gap: 20px;
    
  } */
  .footer-down-heading,.footer-up-heading {
    color: #878787;
  }
  .footer-down{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .love{
    color: white;
    font-weight: bold;
    font-size: 1rem;
  }
  /* .footer-up-column-breakline{
    height: 60%;
    width: 2px;
    background-color: #f1f2f4;
    
  } */



@media (max-width: 1565px){
    .basic-menu-list-element{
        margin: 20px 0px  0px 0px;
    }
    .basic-menu-list-img{
        height: 60px;
        width: 60px;
    }
    .basic-menu-list-name{
        margin-left: 6px;
        /* font-size: 20px; */
    }
    .basic-menu-list-element-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center ;
        margin: 0px 30px 0px 30px;
    }
    .basic-menu-list{
        list-style: none;
        display: flex ;
        align-items: center;
        justify-content: center;
        gap:5px;
        position: absolute;
        
    
    }}

@media(max-width: 1450px){
    .basic-menu-list{
        list-style: none;
        display: flex ;
        align-items: center;
        justify-content: center;
        
        position: absolute;
        
    
    }
    .basic-menu-list-img{
        height: 50px;
        width: 50px;
       
    }
    .basic-menu-list-name{
        margin-left: 6px;
        font-size: 14px;
    }}

@media (max-width: 1380px){
    .basic-menu-list{
        list-style: none;
        display: flex ;
        align-items: center;
        justify-content: center;
        
       
        
    
    }
    /* .basic-menu-list-img{
        height: 40px;
        width: 50px;
       
    } */
    .basic-menu-list-name{
        margin-left: 6px;
        font-size: 12px;
    }
    .basicmenu{
        height: 100px ; 
        width: 100%;
        border: 10px;
        border-color: rgb(241,242,244);
        border-style: solid;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
    }
    .navbar-row{
        position: absolute;
    }
    #text{
        position: relative;
        width: 300px;
        font-size: x-large;
        background-color: whitesmoke;
    }
    

}
/*#text{
/*border:none;
width:600px;
height:40px;
background-color: whitesmoke;
align-content: flex-end;
margin-left: 100px;
font-size:large;}*/


/*.navbar-row{
    margin-top: 5px;
}
#text{
    
width:600px;
height:10px;
background-color: whitesmoke;

margin-left: 300px;
font-size:large;
}*/
