*{
    border: 0px ; 
    margin: 0px; 
    box-sizing: border-box;
}
.navbar{
    height: 100px ; 
    width: 100%;
    border: 5px;
    border-color: rgb(241,242,244);
    border-style: solid;
    
    
    
}
.basicmenu{
    height: 150px ; 
    width: 100%;
    border: 10px;
    border-color: rgb(241,242,244);
    border-style: solid;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.slider{
    height: 350px ; 
    width: 100%;
    border: 5px;
    border-color: rgb(241,242,244);
    border-style: solid;
}
.items{
    height: 1500px ; 
    width: 100%;
    border: 5px;
    border-color: rgb(241,242,244);
    border-style: solid;
}
.footer{
    height: 500px ; 
    width: 100%;
    background-color: black;
    border-style: solid;
}
.basic-menu-list{
    list-style: none;
    display: flex ;
    align-items: center;
    justify-content: center;
    gap:20px;
    position: absolute;
    

}
.basic-menu-list-element{
    margin: 20px 0px  0px 0px;
}
.basic-menu-list-img{
    height: 70px;
    width: 70px;
   
}
.basic-menu-list-link{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.basic-menu-list-name{
    /* margin-left: 0px; */
}
.basic-menu-list-element-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    margin: 0px 30px 0px 30px;
}
.basic-menu-link-divimg{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1565px){
    .basic-menu-list-element{
        margin: 20px 0px  0px 0px;
    }
    .basic-menu-list-img{
        height: 60px;
        width: 60px;
    }
    .basic-menu-list-name{
        margin-left: 6px;
        /* font-size: 20px; */
    }
    .basic-menu-list-element-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center ;
        margin: 0px 30px 0px 30px;
    }
    .basic-menu-list{
        list-style: none;
        display: flex ;
        align-items: center;
        justify-content: center;
        gap:5px;
        position: absolute;
        
    
    }}

@media(max-width: 1450px){
    .basic-menu-list{
        list-style: none;
        display: flex ;
        align-items: center;
        justify-content: center;
        
        position: absolute;
        
    
    }
    .basic-menu-list-img{
        height: 50px;
        width: 50px;
       
    }
    .basic-menu-list-name{
        margin-left: 6px;
        font-size: 14px;
    }}

@media (max-width: 1380px){
    .basic-menu-list{
        list-style: none;
        display: flex ;
        align-items: center;
        justify-content: center;
        
       
        
    
    }
    /* .basic-menu-list-img{
        height: 40px;
        width: 50px;
       
    } */
    .basic-menu-list-name{
        margin-left: 6px;
        font-size: 12px;
    }
    .basicmenu{
        height: 100px ; 
        width: 100%;
        border: 10px;
        border-color: rgb(241,242,244);
        border-style: solid;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        
        
    }
}


.pricing-container{
    display:grid;
     grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr 0.25fr; 
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height:70px;
    gap: 0.5rem;
    margin-top: 30px;
    max-width: 1500px;
    margin-left: 30px;


  }
  .pricing-plan{
    flex:1;
    text-align: center;
    background-color: whitesmoke;
    text-wrap: wrap;
    padding: 0px;
    max-width: 250px;
  }
  .plan-title{
    margin-top: 20px;
    text-align: center;
    font-size: medium;
    font-weight: light;
    margin-bottom: 10px;
    
  }
  .plan-price{
    text-align: center;
    font-weight: bold;
    font-size: larger;
    margin-bottom: 20px;
  }

  .pricing-container {
    flex-direction: column; 
    width: 200%;
    height: 30%;  
  }
.items-row{
    margin-top: 10px;
}
#text{
border:none;
width:300px;
height:20px;
background-color: antiquewhite;
}