<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="/static/stylesheets/cartstyles.css">
</head>
<body>
<script src="cart.js"></script>
<header></header>
<div class ="container">
    <div class="main">
        <img src="https://rukminim2.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt="cartimage" height="150px" width="200px">
       <h4>Missing Cart Items ?</h4>
       <p>Login to see the items you added previously</p>
        <h3 class="button"> Login </h3>

    </div>
</div>

<footer></footer>
</body>
</html>