<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/stylesheets/loginStyles.css">
</head>
<body>
    <div class="container">
        <div class="main">
            <div class="leftmain">
                <div class="loginText"><h1>Login</h1></div>
                <div class="logindesc"><p>uewoufbewufefewyfbewfyewbfwyi</p></div>
                <div class="logimg"><img src="" alt=""></div>
            </div>
            <div class="rightmain">
                
            </div>
        </div>
    </div>
</body>
</html>