*{
    border: 0px ; 
    margin: 0px; 
    box-sizing: border-box;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar{
    display: none;
}
.container{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 1500px;
}
.main{
    border: 2px solid black;
    position:relative ; 
    height: 70%;
    width: 50%;
    display: flex;
}
.leftmain{
    width: 300px;
    background-color: rgb(40,116,240) ;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.rightmain{
    /* background-color: black; */
    width : 450px ;    
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}
.loginText{
   margin: 0px 170px 0px 0px;
}
.logindesc{
    margin: 20px;
    font-size: 20px;
    color: rgb(185,219,219);
}
.logimg{
    margin-top: 100px;
    
}
.formp{
    font-size: 12px;
    margin-top: 30px;
}
#inputtext{
    border: 1px solid black;
    width: 350px;
    height: 40px;
}
#inputbtn{
    margin-top: 10px;
    width: 350px;
    height: 40px;
    background-color: rgb(251,100,27);
    color: white;
    font-size: 15px;
}
.down a{
    text-decoration: none;
    /* margin-top: 50px; */
}
.down{
    margin-top: 200px;
}
.form{
    margin-top: 40px;
}
.blue{
    color: blue;
}